<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
<h1>Миссия Колонизация Марса</h1>
<h4>И на Марсе будут яблони цвести!</h4>
{% if 'инженер' not in prof and 'строитель' not in prof %}
    <h3 style="margin-left: 200px">Научные симуляторы</h3>
    <img src="../static/img/scientist.png">
{% else %}
    <h3 style="margin-left: 200px">Инженерные тренажёры</h3>
    <img src="../static/img/engineer.png">
{% endif %}
</body>
</html>